@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,600&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}

header.navbar-container {
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-block: 1rem;
  z-index: 999;
}

header.navbar-container .logo h1 {
  letter-spacing: 8px;
}

header.navbar-container .nav-list ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
}

header.navbar-container .nav-list li {
  list-style-type: none;
}

header.navbar-container .nav-list li a {
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 400;
  color: black;
  padding: 0.5rem 1.5rem;
  border-radius: 999px;
  transition: all 0.2s ease-in-out;
}

header.navbar-container .nav-list li:hover a {
  background-color: black;
  color: white;
  font-weight: bold;
}

main {
  padding: 20px;
  display: flex;
  gap: 1.5rem;
}

#content {
  flex: 5;
  flow-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem 2rem;
  align-items: center;
  justify-content: center;
  max-width: 60%;
  center: auto;
}

.about {
  text-align: center;
  position: static; /* Changed for mobile */
}

.about img {
  width: 100%; /* Full width for mobile */
  border-radius: 999px;
}

.about figure figcaption {
  font-size: 1.2rem;
}

.about section {
  margin-top: 25px;
}

#content h2 {
  text-align: center;
}

.contact {
  text-align: center;
}

.contact ul {
  padding: 1.5rem 1rem;
  gap: 1rem; /* Adjusted for mobile */
  flex-direction: column; /* Adjusted for mobile */
  align-items: center; /* Adjusted for mobile */
  justify-content: center; /* Adjusted for mobile */
}

.contact ul li {
  list-style-type: none;
}

.contact ul li a {
  text-decoration: none;
  font-size: 2.5rem;
  color: black;
}

.card {
  padding: 20px;
  margin-bottom: 20px;
}

aside {
  flex: 1;
  position: sticky;
  top: 0;
  align-self: flex-start;
  margin-top: 20px;
  order: 2; /* Change order for mobile */
}

footer {
  padding: 20px;
  color: #fff;
  background-color: black;
  text-align: center;
}

.card img {
  max-width: 100%;
  height: auto;
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 767px) {
  header.navbar-container {
    flex-direction: column;
    text-align: center;
  }

  header.navbar-container .nav-list ul {
    flex-direction: column;
    gap: 1rem;
  }

  header.navbar-container .nav-list li {
    margin-bottom: 0.5rem;
  }

  main {
    flex-direction: column; /* Adjusted for mobile */
  }

  #content {
    width: 100%;
    max-width: none;
  }

  .contact ul {
    gap: 0.5rem;
  }
}

